includes:
  - vendor/phpstan/phpstan-phpunit/extension.neon
  - vendor/phpstan/phpstan-phpunit/rules.neon
  - phpstan-baseline.neon

parameters:
  level: max
  paths:
    - bin
    - src
    - tests
  tipsOfTheDay: false
  tmpDir: data
